In [9]:
import gspread

In [10]:
sa = gspread.service_account(filename="smart-meter-sheets-d173cda6b3d4.json")

In [11]:
sheet = sa.open("test1")

In [12]:
work_sheet = sheet.worksheet("Sheet1")

In [13]:
import pandas as pd

df = pd.DataFrame(work_sheet.get_all_records())

In [14]:
df.head()

                   Date  Power (KWatts)  Billing (EGP)
0  22-01-2023 05:48:24             0.38           0.18
1  22-01-2023 05:48:29             0.14           0.07
2  22-01-2023 05:48:35             0.88           0.42
3  22-01-2023 05:48:40             0.21           0.10
4  22-01-2023 05:48:44             0.30           0.14

In [15]:
df.tail()

                     Date  Power (KWatts)  Billing (EGP)
694  23-01-2023 20:13:35             0.04           0.02
695  23-01-2023 20:13:43             0.04           0.02
696  23-01-2023 20:13:45             0.04           0.02
697  23-01-2023 20:13:53             0.04           0.02
698  23-01-2023 20:13:55             0.04           0.02